.DS_Store

.log
*.sqlite3
*.sqlite3-journal

__pycache__/
*.py[cod]
*$py.class

.env
env/

.vscode/

services/web/project/media/*
!services/web/project/media/.gitkeep

services/web/project/static/*
!services/web/project/static/.gitkeep
